* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  color: #222;
}

header {
  background-color: #47575c;
  border-bottom: 2px solid #000;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  font-size: 44px;
  color: #ffffff;
}

.clear-all {
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #8b8989;
  color: #fff;
  cursor: pointer;
}

.clear-all:hover {
    filter: brightness(1.05);
}

.container--main {
  min-height: calc(100vh - 102px);
  background: #fff;
  box-shadow: 10px 10px #ababab;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 10px;
  gap: 12px;
}