/* style.css */
body {
	font-family:
'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}



header {
    height: 100px;
    background-color: #47575c;
    border-bottom: 2px solid #000000;
}

.container {
    width: 800px;
    margin: 0 auto;  
    background-color: white;
    box-shadow: 10px 10px #ababab;
}

.header-title {
    float: left;
    font-size: 70px;
	color: white;
}

.clear-all {
    float: right;
    font-size: 30px;
    line-height: 100px;
    background-color: #8b8989;
    color: white;
}

.contents {
    height: 700px;
}

.form {
    height: 50px;
}
textarea {
  width: 550px;
  margin: 600px 20px 0px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #444444;
}

.add {
  width: 100px;
  margin: 10px 20px 10px;  
  background-color: #dee7ec;
  color: #889eab;
}